@media screen and (max-width:760px) {
    .footer{
        padding: 40px 0 !important;
    }
    .footer h2{
        font-size: 24px !important;
        margin-bottom: 20px;
    }
    .footer p{
        font-size: 16px;
        line-height: 25px;
    }
}
@media screen and (max-width:550px) {
  
    .footer h2{
        font-size: 20px !important;
        margin-bottom: 12px;
    }
}