@media screen and (max-width:760px) {
    h1{
        font-size: 36px !important;
        max-width: 500px !important;
        margin-bottom: 20px !important;
    }
    .hero_text{
        font-size: 16px;
        max-width: 500px;
        line-height: 25px;
    }
    .hero_btns{
        margin-top: 36px;
    }
    .hero_btns button{
        padding: 8px 24px !important;
        font-size: 16px !important;
    }
    /* start main */
    .hero_title{
        letter-spacing: 0 !important;
        font-size: 24px !important;
    }
    /* ------------- */
    .experience{
        padding-bottom: 56px !important;
    }
    /* projects */
    .projects{
        padding-top: 80px !important;
        padding-bottom: 80px !important ;
    }
}
@media screen and (max-width:660px) {
    .technolgy{
        width: 100%;
        gap: 0 !important;
        justify-content: space-between !important;
       
    }
    .technolgy img{
        width: 60px;
    }
    /* project */
    .project_cards{
        margin: 0 40px;
        flex-direction: column;
    }
    .base_img{
        width: 100%;
    }
    h4{
        font-size: 18px !important;
    }
    /* //---------- */
    .experience p{
        font-size: 16px;
        line-height: 25px;
        max-width: 600px;
        margin-top: 20px;
    }
    /* ////----------- */
    .experience_row{
        flex-direction: column;
        gap: 8px;
    }
   
}
@media screen and (max-width:550px) {
    .hero_section{
        padding: 40px 0 !important;
    }
    .hero_section img{
        width: 190px;
    }
    h1{
        font-size: 28px !important;
        max-width: 360px !important;
    }
    .hero_text{
        max-width: 400px;
    }
    .hero_btns{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hero_btns button{
        margin: 0 40px;
    }
    .projects{
        padding-top: 40px !important;
        padding-bottom: 40px !important ;
    }
    .technolgy img{
        width: 50px;
    }

    /* start main */
    .hero_title{
        font-size: 20px !important;
    }

    /*  */

}